
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Task Detail </title>
    </head>
    <body>
        <% if(issue){ %>
            <h2> <%= issue %> </h2>
        <%} else{ %>
            <h1> Task: <%= todo.task %> </h1>
            <p> Completed: <%= todo.completed %> </p>
            <p> Id: <%= todo.id%> </p>
            <form method="POST" action="/api/delete/todo/<%= todo.id %>">
                <button type="submit">
                    Delete todo
                </button>
            </form>
        <% } %>
        <a href="/api/todos"> Home </a>
    </body>
</html>
